openapi: 3.0.3

info:
  title: EUVD API
  description: API for querying vulnerabilities from the ENISA EUVD database.
  version: 0.0.1
  contact:
    email: fx@fx-world.de
  license:
    name: Eclipse Public License 2.0 (EPL)
    url: https://www.eclipse.org/legal/epl-2.0/

externalDocs:
  description: EUVD API Documentation
  url: https://euvd.enisa.europa.eu/apidoc

servers:
  - url: https://euvdservices.enisa.europa.eu/api

security: []

tags:
  - name: frontpage
    description: Frontpage — latest, exploited, and critical vulnerabilities (max 8 records)
  - name: scores_and_filters
    description: Scores & Filters — search with CVSS score, EPSS, date, product, vendor, and text filters
  - name: specific_resources
    description: Specific Resources — lookup by EUVD ID or advisory ID

paths:
  /lastvulnerabilities:
    get:
      summary: Show latest vulnerabilities
      description: Show latest vulnerabilities
        Maximum 8 records
      operationId: getLastVulnerabilities
      tags:
        - frontpage
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Vulnerability'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /exploitedvulnerabilities:
    get:
      summary: Show latest exploited vulnerabilities
      description: Show latest exploited vulnerabilities
        Maximum 8 records
      operationId: getExploitedVulnerabilities
      tags:
        - frontpage
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Vulnerability'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /criticalvulnerabilities:
    get:
      summary: Show latest critical vulnerabilities
      description: Show latest critical vulnerabilities
        Maximum 8 records
      operationId: getCriticalVulnerabilities
      tags:
        - frontpage
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Vulnerability'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /search:
    get:
      summary: Query Vulnerabilities with Flexible Filters
      description: Query Vulnerabilities with Flexible Filters
        Maximum 100 records per request
      operationId: searchVulnerabilities
      tags:
        - scores_and_filters
      parameters:
        - name: fromScore
          in: query
          description: Minimum CVSS score (0-10, e.g., fromScore=7.5)
          required: false
          schema:
            type: number
            minimum: 0
            maximum: 10
            example: 7.5
        - name: toScore
          in: query
          description: Maximum CVSS score (0-10, e.g., toScore=10)
          required: false
          schema:
            type: number
            minimum: 0
            maximum: 10
            example: 10
        - name: fromEpss
          in: query
          description: Minimum EPSS score (0-100, e.g., fromEpss=20)
          required: false
          schema:
            type: number
            minimum: 0
            maximum: 100
            example: 20
        - name: toEpss
          in: query
          description: Maximum EPSS score (0-100, e.g., toEpss=90)
          required: false
          schema:
            type: number
            minimum: 0
            maximum: 100
            example: 90
        - name: fromDate
          in: query
          description: Earliest publication date (YYYY-MM-DD, e.g., fromDate=2023-01-14)
          required: false
          schema:
            type: string
            example: '2023-01-14'
        - name: toDate
          in: query
          description: Latest publication date (YYYY-MM-DD, e.g., toDate=2025-01-14)
          required: false
          schema:
            type: string
            example: '2025-01-14'
        - name: fromUpdatedDate
          in: query
          description: Earliest last-updated date (YYYY-MM-DD, e.g., fromUpdatedDate=2026-05-01)
          required: false
          schema:
            type: string
            example: '2026-05-01'
        - name: toUpdatedDate
          in: query
          description: Latest last-updated date (YYYY-MM-DD, e.g., toUpdatedDate=2026-05-27)
          required: false
          schema:
            type: string
            example: '2026-05-27'
        - name: product
          in: query
          description: Product name. Spaces must be encoded as plus sign (+) (e.g., product=Windows)
          required: false
          schema:
            type: string
            example: 'Windows'
        - name: vendor
          in: query
          description: Vendor name. Spaces must be encoded as plus sign (+) (e.g., vendor=Microsoft)
          required: false
          schema:
            type: string
            example: 'Microsoft'
        - name: assigner
          in: query
          description: CVE Numbering Authority (CNA) identifier (e.g., assigner=mitre)
          required: false
          schema:
            type: string
            example: 'mitre'
        - name: exploited
          in: query
          description: Filter by known exploitation status (true/false, e.g., exploited=true). When true, the response includes the exploitedSince field.
          required: false
          schema:
            type: boolean
        - name: page
          in: query
          description: Page number for pagination, starts at 0 (e.g., page=2)
          required: false
          schema:
            type: integer
            default: 0
            minimum: 0
        - name: text
          in: query
          description: Keywords to search across description, EUVD ID, aliases, product name, and vendor name. Spaces must be encoded as plus sign (+) (e.g., text=port+Axeda+agent)
          required: false
          schema:
            type: string
            example: 'vulnerability'
        - name: size
          in: query
          description: Number of records per page (default 10, max 100, e.g., size=100)
          required: false
          schema:
            type: integer
            default: 10
            maximum: 100
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VulnerabilityPage'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /enisaid:
    get:
      summary: Show EUVD by ID
      description: Show EUVD by ID
      operationId: getByEnisaId
      tags:
        - specific_resources
      parameters:
        - name: id
          in: query
          description: The EUVD identifier assigned to the vulnerability (e.g., id=EUVD-2025-4893)
          required: true
          schema:
            type: string
            example: 'EUVD-2025-4893'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vulnerability'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /advisory:
    get:
      summary: Show advisory by ID
      description: Show advisory by ID
      operationId: getAdvisoryById
      tags:
        - specific_resources
      parameters:
        - name: id
          in: query
          description: The advisory identifier (e.g., id=oxas-adv-2024-0002)
          required: true
          schema:
            type: string
            example: 'oxas-adv-2024-0002'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Advisory'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  schemas:
    Product:
      required:
        - name
      properties:
        name:
          type: string
        vendor:
          $ref: '#/components/schemas/Vendor'

    ProductVersion:
      required:
        - id
      properties:
        id:
          type: string
        product:
          $ref: '#/components/schemas/Product'
        product_version:
          type: string

    Vendor:
      required:
        - name
      properties:
        name:
          type: string

    VendorVersion:
      required:
        - id
      properties:
        id:
          type: string
        vendor:
          $ref: '#/components/schemas/Vendor'

    VulnerabilityBase:
      required:
        - id
      type: object
      properties:
        id:
          type: string
          example: 'EUVD-2025-15442'
        enisaUuid:
          type: string
          format: uuid
          description: Universally unique identifier assigned by EUVD
          example: '1b8d9b26-ff91-39cd-aede-bfacb509bcfb'
        description:
          type: string
          example: 'PNETLab 4.2.10 does not properly'
        datePublished:
          type: string
          description: Publication date in human-readable format (e.g., 'May 16, 2025, 12:40:17 PM')
          example: 'May 16, 2025, 12:40:17 PM'
        dateUpdated:
          type: string
          description: Last update date in human-readable format (e.g., 'May 16, 2025, 12:40:17 PM')
          example: 'May 16, 2025, 12:40:17 PM'
        baseScore:
          type: number
          minimum: 0
          maximum: 10
          example: 8.7
        baseScoreVersion:
          type: string
          description: CVSS version (e.g., '2.0', '3.0', '3.1', '4.0')
          example: '4.0'
        baseScoreVector:
          type: string
          description: Full CVSS vector string (e.g., 'CVSS:4.0/AV:N/AC:L/...')
          example: 'CVSS:4.0/AV:N/AC:L/AT:N/PR:N/UI:N/VC:H/VI:N/VA:N/SC:N/SI:N/SA:N'
        references:
          type: string
          description: Newline-separated list of reference URLs
          example: 'https://www.incibe.es/en/incibe-cert/notices/aviso/path-traversal-vulnerability-pnetlab\n'
        aliases:
          type: string
          description: Newline-separated list of alternative identifiers (CVE, GSD, GHSA, etc.)
          example: 'CVE-2025-40629\n'
        assigner:
          type: string
          description: The CVE Numbering Authority (CNA) that assigned the identifier
          example: 'INCIBE'
        epss:
          type: number
          minimum: 0
          maximum: 100
          description: Exploit Prediction Scoring System score (0-100), representing the probability (%) of exploitation in the wild in the next 30 days
          example: 0.04

    Vulnerability:
       allOf:
        - $ref: '#/components/schemas/VulnerabilityBase'
        - type: object
          properties:
            exploitedSince:
              type: string
              description: Date when the vulnerability was first known to be exploited. Only present when exploited=true filter is applied.
              example: 'May 19, 2025, 12:00:00 AM'
            enisaIdProduct:
              type: array
              description: Affected products. May be absent in some endpoints or an empty array.
              items:
                $ref: '#/components/schemas/ProductVersion'
            enisaIdVendor:
              type: array
              description: Affected vendors. May be absent in some endpoints or an empty array.
              items:
                $ref: '#/components/schemas/VendorVersion'
            enisaIdVulnerability:
              type: array
              description: Related vulnerability records (e.g., GHSA, CVE entries with full details). Present in /enisaid responses.
              items:
                $ref: '#/components/schemas/EnisaIdVulnerability'
            enisaIdAdvisory:
              type: array
              description: Related advisory records. Present in /enisaid responses.
              items:
                $ref: '#/components/schemas/AdvisoryVulnerability'

    VulnerabilityPage:
      type: object
      required:
        - items
        - total
      properties:
        items:
          type: array
          items:
             $ref: '#/components/schemas/Vulnerability'
        total:
          type: integer
          description: Total number of vulnerabilities matching the query

    Advisory:
      type: object
      properties:
        id:
          type: string
          example: 'cisco-sa-ata19x-multi-RDTEqRsy'
        description:
          type: string
          example: 'Cisco ATA 190 Series Analog Telephone Adapter Firmware Vulnerabilities'
        datePublished:
          type: string
          description: Publication date in human-readable format
          example: 'May 16, 2025, 12:40:17 PM'
        dateUpdated:
          type: string
          description: Last update date in human-readable format
          example: 'May 16, 2025, 12:40:17 PM'
        baseScore:
          type: number
          minimum: 0
          maximum: 10
          example: 8.7
        references:
          type: string
          description: Newline-separated list of reference URLs
          example: 'https://www.incibe.es/en/incibe-cert/notices/aviso/path-traversal-vulnerability-pnetlab\n'
        aliases:
          type: string
          description: Newline-separated list of alternative identifiers (CVE, etc.)
          example: 'CVE-2024-20420\nCVE-2024-20459\nCVE-2024-20460\nCVE-2024-20421\nCVE-2024-20463\nCVE-2024-20458\nCVE-2024-20462\nCVE-2024-20461\n'
        source:
          $ref: '#/components/schemas/Source'
        advisoryProduct:
          type: array
          items:
             $ref: '#/components/schemas/AdvisoryProduct'
        enisaIdAdvisories:
          type: array
          items:
             $ref: '#/components/schemas/AdvisoryVulnerability'
        vulnerabilityAdvisory:
          type: array
          description: Related vulnerability-to-advisory mappings
          items:
             $ref: '#/components/schemas/AdvisoryVulnerability'

    Source:
      type: object
      properties:
        id:
          type: number
          example: 10
        name:
          type: string
          example: 'csaf_cisco'

    AdvisoryProduct:
      type: object
      properties:
        id:
          type: string
          example: '5fe32ac4-e2d7-36d8-93f5-df5dde4f4a9a'
        product:
          $ref: '#/components/schemas/Product'

    AdvisoryVulnerability:
      type: object
      properties:
        id:
          type: string
          example: '5fe32ac4-e2d7-36d8-93f5-df5dde4f4a9a'
        enisaId:
          $ref: '#/components/schemas/Vulnerability'

    EnisaIdVulnerability:
      type: object
      description: A nested vulnerability reference returned within /enisaid responses, containing full vulnerability details for related identifiers (GHSA, CVE, etc.)
      properties:
        id:
          type: string
          example: '23b3171d-51e6-33c1-bd81-65358c89a90a'
        vulnerability:
          type: object
          properties:
            id:
              type: string
              example: 'GHSA-hgfh-7qxq-x5c9'
            description:
              type: string
              example: 'Use of Hard-Coded Credentials vulnerability...'
            datePublished:
              type: string
              example: 'Feb 14, 2025, 4:33:37 PM'
            dateUpdated:
              type: string
              example: 'Feb 14, 2025, 6:38:48 PM'
            status:
              type: string
              description: Publication status (e.g., PUBLISHED)
              example: 'PUBLISHED'
            baseScore:
              type: number
              minimum: 0
              maximum: 10
              example: 7.3
            baseScoreVersion:
              type: string
              example: '3.1'
            baseScoreVector:
              type: string
              example: 'CVSS:3.1/AV:N/AC:L/PR:N/UI:N/S:U/C:L/I:L/A:L'
            references:
              type: string
              example: 'https://os-s.net/publications/advisories/CVE-2024-8893.pdf\n'
            enisa_id:
              type: string
              description: Parent EUVD identifier
              example: 'EUVD-2025-4893\n'
            aliases:
              type: string
              example: 'GHSA-hgfh-7qxq-x5c9\nCVE-2024-8893\n'
            assigner:
              type: string
              example: 'ENISA'
            epss:
              type: number
              minimum: 0
              maximum: 100
              description: EPSS score (0-100)
              example: 0.15
            dataProcessed:
              type: string
              description: Timestamp when the record was processed by EUVD
              example: 'May 27, 2026, 7:08:57 AM'
            vulnerabilityProduct:
              type: array
              items:
                $ref: '#/components/schemas/AdvisoryProduct'
            vulnerabilityVendor:
              type: array
              items:
                $ref: '#/components/schemas/VendorVersion'

    Error:
      type: object
      properties:
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
      required:
        - code
        - message
