name: On Push or Pull request

on:
  push:
    branches: [ main ]
  pull_request:
  
jobs:
  call-lint:
    permissions:
      checks: write
    uses: ./.github/workflows/lint.yml
    secrets: inherit
    
  call-build:
    uses: ./.github/workflows/build.yml
    with:
      release: false
    secrets: inherit  
  
  